$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #666;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #666;
$color__link-visited: #666;
$color__link-hover: darken($color__link, 15%);
$color__text-main: #404040;

$color__border-button: #666 #666 #bbb;
$color__border-button-hover: #666 #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #666;
$color__border-abbr: #666;
