//Header navigation
$large-screen: em(860);
header.site-header {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #000 !default;
  $large-screen: em(860) !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  background-color: #000;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
    @media (max-width:48em) {
      max-height: 70px;
    }
  .navigation-wrapper { 
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-right: 1em;
      @media (max-width:48em) {
        max-height: 70px;
      }
    a {
      display: block;
    }
    img {
      max-height: $navigation-height + 55px;
      @media (max-width: 48em) {
        max-height: 75px;
      }
      @media (max-width: 32em) { 
        max-height: 60px;
      }
    }
  }

#site-navigation {
  position: relative;
}
.blip {
  @include media(60em) {
    display: block;
  }
  display: none;
  position: absolute;
  background: #fff;
  width: 50px;
  height: 4px;
  top: 56px;
  @include transition(all .5s ease-in-out);
}
  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;
      @media (max-width:48em) {
        max-height: 70px;
      }
    @include media ($horizontal-bar-mode) {
      float: right;
    }
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;
    font-size: 14px;
    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.menu-item{
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    text-align: left;
    width: 100%;
    z-index: 9999;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      font-weight: 400;
      text-decoration: none;
      @include transition(color .2s);
      @media (max-width: 60em) {
        display: block;
      }

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.menu-item-has-children.menu-item {
    padding-right: 0;

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
      
    }

    > a {
      padding-right: 0.6em;
    }
  }

  li.menu-item-has-children {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $navigation-submenu-padding;
      }
    }

    &:focus > .sub-menu,
    &:hover > .sub-menu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.sub-menu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: 0;
      position: absolute;
      top: 2.8em;
      margin-left: 0;
    }

    .sub-menu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:last-child > a {
          padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: left;
        width: 100%;
        @include transition(all .2s ease);
        @include media($horizontal-bar-mode) {
          background: #000;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: 240px;
          &:hover {
            background-color: $navigation-background;
          }
        }
      }
    }
  }
}

.home-register {
  padding: 1em 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2em;
  line-height: 1.2;
  border: 1px solid #fff;
  margin-top: 1em;
  display: inline-block;
  background: rgba(0, 0, 0, 0.7);
  @include transition(all 250ms ease);
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #d5252f;
    border-color: #d5252f;
  }
}
.desktop-nav {
  @media (max-width: 60em) {
    display: none!important;
  }
}
#simple-menu {
  text-decoration: none;
  font-size: 4em;
  float: right;
  padding: 0em 0.2em;
  height: 68px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: -0.3em;
  @media (min-width: 60em) {
    display: none;
  }
}
.sidr {
  @media (min-width: 60em) {
    display: none!important;
  }
}

header.site-header li.menu-item-has-children > .sub-menu, header.site-header li.menu-item-has-children > .sub-menu {
  @media (max-width: 60em) {
    display: block;
  }
  
}

.sidr ul li:hover>a, .sidr ul li:hover>span, .sidr ul li.active>a, .sidr ul li.active>span, .sidr ul li.sidr-class-active>a, .sidr ul li.sidr-class-active>span {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
  line-height: inherit;
  border-top: inherit;
}

.container {
  max-width: 1000px;
  margin: 1em auto;
  padding: 1em;
}

.see-more-link {
  text-decoration: none;
  display: inline-block;
  .red-dot img{
    width: 10px;
    margin-right: 5px;
  }
}
 //H1-H6
h1, h2, h3, h4, h5, h6, .card-header {
  font-family: 'Coustard', serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: 1px;
}
//homepage cta 
.cover-image .container {
  padding: 4.5em 0;
  margin: 0 auto;
  max-width: 650px;
}
.cta-item {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 1em;
  width: auto;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;

  img {
    margin: 0 auto;
    max-width: 150px;
  }
  span {
    margin: 1em 0 .5em;
    color: #eee;
    display: block;
    text-transform: uppercase;
    vertical-align: top;
    font-size: 1.2em;
  }
  h3 {
    color: #fff;
    font-family: 'Coustard', serif;
    font-size: 2.1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }

}
.cover-image.cover-image-sub {
  height: 270px!important;
  @include media(max-width 28em) {
    padding: 0.5em;
  }
  .cta-container {
    padding: 4em 0;
    h1 {
      @include media(max-width 28em) {
        font-size: 1.5em;
      }
    }
  }
}
.cta-container h1 {
  color: #fff;
  padding: 0.8em 1em;
  background: rgba(0, 0, 0, 0.64);
  display: inline-block;
  line-height: 1.5;
  border: 1px solid #eee;
}

.link {
  line-height: 2em;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  position: relative;
  display: inline-block;
  padding: 3px 15px 0;
  color: #d5252f;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  box-shadow: inset 0 3px #d5252f;
  @include transition(background .6s);
  @include transform-style(preserve-3d);
  @include transform-origin(0% 50%);
  text-decoration: none;
  &:visited {
    color: #d5252f;
  }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #d5252f;
      color: #fff;
      content: attr(data-hover);
      @include transform(rotateX(270deg));
      @include transition-property(transform);
      @include transition-duration(.6s);
      @include transform-origin(0 0);
      pointer-events: none;
    }
    &:hover {
      color: #d5252f;
      &:before {
        @include transform(rotateX(10deg));
      }
    }
}

.lines {
  &:before, &:after {
    letter-spacing: -1px;
    padding: 0 .5em;
    vertical-align: top;
  }
}
.fa-grad:before {
  content: "";
  background: url("http://tristatesignexpo.com/wp-content/uploads/grad-cap.png");
  width: 29px;
  height: 21px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.cover-image {
  background: url("http://tristatesignexpo.com/wp-content/uploads/DownstreamCasinoPH2_02_ext-overall_night.jpg");
  background-color: #ccc;
  background-position-x: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  text-align: center;
  @include media(max-width 32em) {
    background-position-y: center;
  }
  @include media(min-width 1000px) {
    background-position-y: -14em;
  }
   @include media(min-width 1300px) {
    background-position-y: -18em;
  }
  @include media(min-width 1600px) {
    background-position-y: -24em;
  }
  @include media(1800px) {
    background-position-y: -30em;
  }
}
.bullet-list {
  li {
    list-style-type: disc;
    margin-left: 2em;
  }
}
.golf-content {
  display: block;
  float: left;
  max-width: 300px;
  p {
    margin-top: 0;
  }
}
.center-content {
  text-align: center;
  strong {
    display: block;
  }
}

.golf-small {
  margin-bottom: 2em;
  display: block;
  clear: both;
}
//schedules page grid
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, 0.8); 
  $grid-item-columns: 6;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 20em;

  @include clearfix;
  position: relative;
  .fa {
    color: #d5252f;

  }
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-bottom: $grid-item-border;
    border-right: $grid-item-border;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:focus,
    &:hover {
      background: transparentize($grid-item-color, 0.95);
    }
  }



  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
    }

  .grid-item p {
      color: transparentize($grid-item-color, 0.4);
      line-height: 1.5em;
      
      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    background: $grid-items-background;
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 100%;
  }

  .right-cover {
    background: $grid-items-background;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px;
  }
}


a.sidebar-register {
  display: block;
  border-top: 3px solid #d5252f;
  margin: 1em -2em -1em;
  text-align: center;
  padding: 1em 0;
  text-transform: uppercase;
  background: #000;
  
  color: #d5252f;
  @include transition(background 250ms ease, color 250ms ease);
  &:hover {
    color: #eee;
    background: rgba(0, 0, 0, 0.75);
  }
}


// homepage
.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;

  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 1em 0;
  overflow: auto;
  padding: 0;

  .bullet {
    @include flex-basis(18em);
    @include flex-grow(1);
  }


  .bullet-content {
    
    margin-bottom: 2em;
    @include media(min-width 600px) {
      margin-left: 1.4em;
      margin-right: 10px;
    }
    ul {
      margin: 10px 1.5em;
    }
    li {
      list-style-type: initial;
      font-size: .9em;
    }
    .fa {
      color: #d5252f;
    }
  }

  h2 {
    border-bottom: 3px solid rgb(213, 37, 47);
    color: #666;
    display: block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0;
    padding-top: $icon-bullet-size / 7;
  }
  strong {
    display: block;
  } 
  p {
    color: $base-font-color;
    line-height: $base-line-height;
    margin: 0;

  }
  a:hover {
    color: rgb(213, 37, 47);
  }

  img {
    max-width: 100%;
  }
}
.text-center {
  text-align: center;
}
.register-link {
  clear: both;
  float: left;
}
.entry-content {
  @include media($large-screen) {
    float: right;
    width: 63%;
    padding: 1%;
    margin-top: 0;
    @include box-sizing(border-box);
  }
}
//Sidebar
.widget-area {
  @include media($large-screen) {
    float: left;
    max-width: 300px!important;
    padding: 1%;
    @include box-sizing(border-box);
  }
  h1 {
    font-size: 1em;
  }
  li {
    margin-bottom: .5em;
  }

}

.widget_nav_menu {
  
  a {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #666;
    @include transition(color 250ms);
  }
  .current_page_item a {
    font-weight: bold;
    color: rgb(213, 37, 47);
  }
}
// Footer
.footer {
  $base-spacing: 1.5em !default;
  $action-color: #252525 !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: #000;
  $footer-color: #fff;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);
  margin-top: 5em;
  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;
  a {
    text-decoration: none;
  }
  .footer-logo {
    margin-bottom: 2em;
    text-align: center;
    height: 0;
    img {
      position: relative;
      top: -6.6em;
    }
  } 

  .footer-links {
    @include clearfix;
    margin-bottom: $base-spacing;
    color: #fff;
    text-align: center;
  }

  ul {
    padding: 0;
  }
  .menu-footer-menu-container {
    margin-bottom: 1.5em;
  }
  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 0 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;
    font-size: .9em;
    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0.4em;
  }  

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 41em;
    text-align: center;
  }
}

.side-image {  
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $side-image-background-top: #B5EBEB;
  $side-image-background-bottom: #5DAC5D;
  $side-image-content-background: #F9F9F9;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

  background: $side-image-content-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background(url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'), linear-gradient($side-image-background-top, $side-image-background-bottom), no-repeat $side-image-background-top scroll);
    background-color: $side-image-background-top;
    background-size: cover;
    border-bottom: $side-image-border;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 8em 4em;
    }

    h1 {
      margin-bottom: 0.9em;
    }

    h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      font-weight: 800;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin-bottom: 3em;
    }

    button {
      @include button(flat, $action-color);
      padding: 0.7em 1em;
    }
  }

  @include reset-display();
}

.secondary-header {
  color: #d5252f;
}
//schedule page
.table-minimal {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: $base-background-color;
  $table-header-background: lighten($table-background, 10);
  $table-hover-background: darken($table-background, 2);
  $table-stripe-background: darken($table-background, 4);
  $table-stripe-background-hover: darken($table-stripe-background, 5);
  $table-padding: .75em 1em;

  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  tbody {
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:first-child td {
      border-top: 2px solid $table-border-color;
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      border-bottom: 0px;
      padding: $table-padding;
      text-align: left;
      color: #d5252f;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      border-bottom: 0px;
      border-top: 1px solid $table-border-color;
      line-height: $base-line-height;
      padding: $table-padding;

      button {
        @include button(flat, $action-color);
        display: inline-block;
        font-size: .7em;
        line-height: $base-line-height;
        margin-bottom: .3em;
        margin-right: 0.5em;
        outline: none;
        padding: .3em 1em;
        width: 100%;

        @include media($medium-screen) {
          margin-bottom: 0;
          width: auto;
        }
      }
    }
  }
}


//seminars
.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5%);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5%);
  $card-margin: 1em;

  @include flex-basis(17em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;

  .card-header { 
    @include transition (all 0.2s ease-in-out);
    border-bottom: $card-border;
    color: #d5252f;
    font-weight: bold;
    line-height: 1.5em;
    padding: $base-spacing;
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: $base-spacing;

    p {
      margin: 0 0 ($base-spacing / 2);
    }
    strong {
      color: #d5252f;
    }
  }

}



.pull-left {
  float: left;
  padding: 0 1em 1em 0;
}
.pull-right {
  @media (min-width: 48em) {
    float: right;
  }
  
}

.blank-td {
  @media (max-width: 48em) {
    display: none!important;
  }
}
.row-group {
  td {
    border: none;
  }
}
//registration
.register-page {
  ul {
    @extend %default-ul;
    margin-bottom: 1em;
    display: inline-block;
  }
}
.header-row {
  border-top: 1px solid #525254;
}
.registration-table-container {
  font-size: .75em;
  margin: -1.3em;
  h3 {
    color: #ccc;
  }
  input[type="text"], input[type="number"], select {
    display: inline-block;
  }
  select {
    margin-bottom: 0;
  }
  td {
    padding: .75em;
    &:before {
        @media (max-width: 48em) {
          content: attr(data-th);
          font-weight: bold;
          display: inline-block;
          padding-right: 5px;
        }
        display: none;
      }
  }
  strong {
    display: inline-block;
    margin: 1em 0;
  }
  .ticket-table {
    td {
      @media (max-width: 48em) {
        width: 100%;
        float: left;
        clear: both;
        display: block;
      }
      &:before {
        display: block; 
      }
      input[type="number"] {
        width: 50px;
        margin: 0 .5em .75em;
      }
      span {
        width: 150px;
        display: inline-block;
        @media (max-width: 48em) {
          width: auto;
        }
      }
      b {
        display: block;
      }
    }
    th {
      @media (max-width: 48em) {
        display: none;
      }
    }
    .table-number-th {
      text-align: center;
      padding-right: 3em;
    }
  }
  .grand-total {
    text-align:right;
    input {
      width: 100px;
      display: inline-block;
      margin-left: 1em;
    }
  }
  .attendees-table-list {
    border: 1px solid #525254;
    th {
      @media (max-width: 48em) {
        display: none;
      }
    }
    .attendees-name-header {
      border: 0;
      @media (min-width: 48em) {
        width:252px; 
      }
    }
    td {
      border: 1px solid #525254;
      text-align:center;
      @media (max-width: 48em) {
        display: block;
        text-align: left;
        border-top: 0;
        border-bottom: 0;
      }
      
      &:first-child {
        @media (max-width: 48em){
          border-top: 1px solid #525254;
        }
        &:before {
          display: block;
        } 
      }
    }
  }

}
.inner-container {
  padding: 1em 0;
  display: block;
}
.lb-image {
  max-width: none;
}

strong.or-style {
  text-transform: uppercase;
  margin: 0 1em;
}
